<div class="row">
<%= simple_form_for @location, wrapper: :horizontal_form, validate: true do |f| %>
  <%= f.input :area, as: :hidden, validate: false %>
  <div class="col-md-10"><%= f.input :name %></div>
  <div class="col-md-2"><%= f.button :submit %></div>
<% end %>
</div>
